*{
    margin: 0;
}
body{
    font-family: raleway,sans-serif;

}
header{
    background-image: url(/Assets/Hero-bg.png);
    background-size:auto;
    background-repeat: no-repeat;
    height: 698px;
    width:100%;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0 150px;
}

.logo1 {
  font-size: 34px;
  color: #4E47FF;
  font-weight: bold;
  margin: 51px 0px;
  
}
.logo1:hover{
    background-color: #7122a69c;
}
.btn-signup {
  background-color: #4E47FF;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background 0.3s ease;
}
.btn-signup:hover{
    background-color: #7122a69c;
}
.sec1{
    display: flex;
    width: 905px;
    height:237px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
}
.h-para{
    font-size:65px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 37px;
    color: #252432;
}
.sec1 h2{
    font-size: 16px;
    font-weight: bold;
}
.action{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 116px 159px;
    align-items: center;
}
#i-action{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
#h-action{
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 20px;
}
#p-action{
    font-weight:normal;
    font-size: 24px;
    margin-bottom: 35px;
}